<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% for posttv in postt %}
    <div>
        {% if slugg == posttv.categoria.nombre %}
        <h2><a href="{% url 'blog:post' posttv.slug  %}">{{posttv.titulo}}</a></h2>
        <p>{{posttv.contenido |truncatechars:120 | striptags}} </p>
        {% endif %}
    </div>
    {% endfor %}
</body>

</html>
